/makro_bot/testy.ipynb
/makro_bot/__pycache__
/makro_bot/testy2.ipynb
/makro_bot/testy3.ipynb
/makro_bot/POMYSLY.txt
/wig_bot/chart.ipynb
/wig_bot/__pycache__
/wig_bot/keys.txt
/wig_bot/rozne.py
/wig_bot/POMYSLY.txt
/wig_bot/testy.ipynb
/wig_bot/testy2.ipynb
/wig_bot/testy.py
/wig_bot/szablon.xlsm
/wig_bot/szablon.xlsx
/wig_bot/szop.jpg
/POMYSLY.txt
/keys.txt
keys.txt
__pycache__
/__pycache__
/makro_bot/testy.py
/makro_bot/mapy
test.ipynb
/makro_bot/abd.png
/makro_bot/cb_rates_map.png
/test2.ipynb
/testy.py
/trinomial_model_for_options.py
/full_df_opcje.csv
/wig_bot/not_empty_options.csv