/makro_bot/testy.ipynb
/makro_bot/testy2.ipynb
/makro_bot/testy3.ipynb
/makro_bot/POMYSLY.txt
/wig_bot/chart.ipynb
/wig_bot/keys.txt
/wig_bot/rozne.py
/wig_bot/POMYSLY.txt
/wig_bot/testy.ipynb
/wig_bot/testy2.ipynb
/wig_bot/testy.py
/wig_bot/szablon.xlsm
/wig_bot/szablon.xlsx
/wig_bot/szop.jpg
/POMYSLY.txt
/keys.txt
keys.txt
